language: python

python:
  - "3.5"

services:
  - mysql
  - docker

install:
  - python -V
  - pip install -r requirements.txt
  - mysql -e 'CREATE DATABASE IF NOT EXISTS $DB_NAME;'

test:
  script:
  - python manage.py migrate
  - python manage.py test

script:
  - docker build -t factlist/factlist-api .

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker push factlist/factlist-api;
    fi
