django==2.1
djangorestframework==3.8.2
mysqlclient==1.3.12
boto3==1.5.35
django-storages==1.6.5
django-cors-headers==2.2.0
requests==2.18.4
django-redis==4.9.0
Pillow==5.0.0
tweepy==3.6.0
the-big-username-blacklist==1.5.2
